{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class='tasksDiv'>
        <h1>Create a new task</h1>

        {{ include('task/_new_form.html.twig') }}
    </div>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/css/task.css') }}">
    {% endblock %}
{% endblock %}
